<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary side-menu">
  <div class="thumb">
    <img src="../../../../../assets/images/thumb-bank.png" alt="">
  </div>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/dashboard" class="nav-link" [ngClass]="selectedMenu('/dashboard/home') ? 'active' : 'link-body-emphasis'">
        Home
      </a>
    </li>
    <li [hidden]="hasPermissonBank">
      <a routerLink="banks" class="nav-link" [ngClass]="selectedMenu('/dashboard/banks') ? 'active' : 'link-body-emphasis'">
        Bancos
      </a>
    </li>
  </ul>
</div>