a:hover {
    cursor: pointer;
}

.buttons button {
    min-width: 7rem;
    margin-right: .5rem;
}

.search-bar {
    display: flex;
    flex-direction: row;
    input {
        min-width: 30rem !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    button {
        width: 2.5rem;
        height: 2.5rem;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
}

.bank-status {
    width: 5rem;
    padding: .5rem 1rem;
    font-size: .7rem;
    text-align: center;
    font-weight: 600;
    border-radius: .8rem;
    text-transform: uppercase;
    background-color: #ddd6d6;
}

.I {
    color: #bd3939;
}

.A {
    color: #4d9651;
}

.table-item:hover {
    cursor: pointer;
}